@import 'utils';

.pagination {
	margin-top: 2rem;
	display: flex;
	align-items: center;

	.number {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Do Hyeon', sans-serif;
		font-size: .85rem;
		font-style: italic;
		color: $oc-gray-6;
		text-align: center;

		p {
			margin-right: 1rem;

			&.active {
				color: black;
			}
		}
	}
}
