@import 'utils';

.introduction-wrapper{
    width : 768px;
    min-height : calc(100vh - 30rem);
    margin : 0 auto;

    @include media('<medium'){
        width : 512px;
    }

    @include media('<small'){
        width : calc(100% - 4rem);
    }
}