# client
client/
# dependencies
client_renewal/node_modules
client_renewal/.pnp
client_renewal/.pnp.js

# testing
client_renewal/coverage

# production
client_renewal/build

# misc
client_renewal/.DS_Store
client_renewal/.env.local
client_renewal/.env.development.local
client_renewal/.env.test.local
client_renewal/.env.production.local

client_renewal/npm-debug.log*
client_renewal/yarn-debug.log*
client_renewal/yarn-error.log*


# server
server/node_modules
server/src/logs/*.log
server/.env