@import 'utils';

.series-info {
	padding-top: 1rem;
	.button-wrapper {
		justify-content: flex-end;
		margin-bottom: 1rem;
	}

	.series-summary {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		list-style: none;
		margin-top: 2rem;
		padding: 0;

		svg {
			margin-right: 0.3rem;
		}

		li {
			color: $oc-gray-6;
			font-family: 'Gothic A1', sans-serif;
			font-size: .85rem;
			margin-right: 0.8rem;
		}

		.date {
			margin-left: auto;
			font-style: italic;
		}
	}
}
