@import 'utils';

.info-wrapper {
	height: 15rem;
	position: relative;
	margin-top: 3rem;

	.blog-info {
		height: 5rem;
		display: flex;
		align-items: center;
		margin-bottom: 5rem;

		.button-wrapper {
			margin-left: auto;
		}
	}

	@include media('<large') {
		width: calc(100% - 4rem);
	}

	@include media('<medium') {
		.button-wrapper {
			display: none;
		}
	}
}
