@import 'utils';

.post-nav{
    height : 4rem;
    width : 100%;
    border-top : 1px solid #ddd;
    background : white;
    position : fixed;
    bottom : 0;
    left : 0;
    z-index : 10;

    .navigation-enter{
        // transform: translateY(-50%);
        transform : rotateX(0deg);
        opacity : 0;
    }

    .navigation-enter-active{
        // transform: translateY(0%);
        transform : rotateX(360deg);
        opacity : 1;
        transition: all 300ms ease-in;
    }

    .navigation-enter-done{
        // transform: translateY(0%);
        transform : rotateX(0deg);
        opacity : 1;
    }

    .nav{
        display : flex;
        align-items : center;

        .prev-post, .next-post{
            width : 200px;
            height : 4rem;
            display : flex;
            align-items : center;
            justify-content : center;
            color : $oc-gray-6;
            opacity : .7;
            font-size : 2rem;
        }

        .prev-post{
            svg{
                transition : all .15s ease-in;
            }
            &:hover{
                cursor : pointer;

                svg{
                    color : black;
                    transform : translateX(-3rem);
                }
            }

            &:active{
                background : rgba($oc-gray-8, 0.05);
            }
        }
        
        .next-post{
            svg{
                transition : all .15s ease-in;
            }
            &:hover{
                cursor : pointer;

                svg{
                    color : black;
                    transform : translateX(3rem);
                }
            }

            &:active{
                background : rgba($oc-gray-8, 0.05);
            }

            margin-left : auto;
        }

        .preview{
            flex : 1;
            text-align : center;
            font-style : italic;

            h1{
                margin : 0;
                font-family: 'Gothic A1', sans-serif;
                font-size : 1rem;
                text-decoration : underline;
                line-height : 4rem;
            }
        }

        @include media('<large'){
            .prev-post, .next-post{
                width : 100px;
            }
        }

        @include media('<medium'){
            .prev-post, .next-post{
                display : none;
            }
            .preview h1{
                font-size : .85rem;
            }
        }
    }
}