@import 'utils';

.local-register{
    width : 30rem;
    padding : 1rem;

    .input-wrapper{
        display : flex;
        align-items : center;
    
        .left-wrapper{
            flex : 0.6;
        }
    
        .right-wrapper{
            flex : 1;

            .register-title{
                font-family: 'Dancing Script', cursive;
                font-size : 2.5rem;
                letter-spacing : 2px;
                margin : 0;
                margin-bottom : 2rem;
            }

            .form-wrapper{
                margin-bottom : 1rem;
            }
        
            .label{
                margin-top : 1rem;
                margin-bottom : .25rem;
                padding-left : .3rem;
                font-family: 'Gothic A1', sans-serif;
                font-size : .5rem;
                letter-spacing : 1px;
                color : $oc-gray-6;
            }
        
            .login-input{
                width : 100%;
                height : 2.5rem;
                padding-left : 1rem;
                padding-right : 1rem;
                border : none;
                outline : none;
                background : $oc-gray-1;
                border-radius : 1rem;
                font-family: 'Gothic A1', sans-serif;
                font-size : .75rem;
                font-weight : 600;
                letter-spacing : 2px;
        
                &::placeholder{
                    color : rgba($oc-gray-6, 0.75);
                }
            }
        }
    }
}


