@import 'utils';

.side-menu-logo {
	width: 100%;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-bottom: 1px solid #ddd;
	background: $oc-gray-1;
}
