@import "utils";

.post-info-wrapper {
  border-bottom: 1px solid #ddd;
  margin-top: 20rem;
  padding-top: 3rem;
  padding-bottom: 1rem;

  .post-writer {
    margin: 0;
    text-align: right;
    font-family: "Gothic A1", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    color: $oc-gray-6;

    b {
      font-family: "Do Hyeon", sans-serif;
      font-weight: 1rem;
      color: black;
    }
  }

  .post-info-bottom {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    .button-wrapper {
      margin-left: auto;
    }
  }

  @include media("<large") {
    margin-top: 5em;
    padding-left: 1rem;
    padding-right: 1rem;

    .post-info-bottom {
      display: none;
    }
  }
}
