@import 'utils';

.post-item {
	width: 100%;
	height: 15rem;
	margin-bottom: 1rem;
	transition: all .15s ease-in;

	.post-count {
		display: flex;
		align-items: center;
		color: $oc-gray-6;

		.date-icon {
			margin-left: 1rem;
			margin-right: .2rem;
		}

		.date {
			font-size: .75rem;
			font-weight: 300;
		}
	}

	&:hover {
		transform: rotate(-1deg) scale(0.98);
		box-shadow: 3px 3px 3px #ddd;
	}

	@include media('<medium') {
		margin-bottom: 2rem;
	}
}
