@import 'utils';

.count-box{

    &.vertical{
        margin-right : 2.5rem;
    
        .title{
            font-family: 'Gothic A1', sans-serif;
            font-size : 0.85rem;
            font-weight : 200;
            color : $oc-gray-6;
        }

        .count{
            font-family: 'Gothic A1', sans-serif;
            font-size : 1.25rem;
            font-weight : 200;
            color : $oc-gray-6;
            padding-top : .2rem;
        }
    }
    

    &.horizontal{
        display : flex;
        align-items : center;

        margin-right : .5rem;
        padding-top : .2rem;

        .title{
            color : $oc-gray-6;
            font-family: 'Gothic A1', sans-serif;
            font-size : .75rem;
            font-weight : 200;
        }

        .count{
            color : $oc-gray-6;
            font-family: 'Gothic A1', sans-serif;
            font-size : .75rem;
            font-weight : 200;
            padding : 0;
            margin-left : .2rem;
        }
    }
}