@import 'utils';

.series-list{
    margin-top : 2rem;
    margin-bottom : 2rem;

    .series-item{
        transition : all .15s ease-in;
        height : 20rem;
        display : flex;
        align-items : center;
        padding : 1rem;
        border-bottom : 1px solid #ddd;

        .series-thumb{
            flex : .6;
            
        }

        .series-desc{
            flex : 1;
            padding-left : 2rem;

            .author-count{
                margin-top: 1.5rem;
                color: $oc-gray-6;
                font-family: 'Gothic A1', sans-serif;
                font-style: italic;
                

                .author-name{
                    font-size: 1rem;
                    margin : 0;
                }

                .series-count{
                    font-size: .75rem;
                    margin : .5rem 0 0 0;

                    span{
                        margin-right : 1rem;
                    }
                }
            }
        }

        &:hover{
            background : rgba(#ddd, 0.2);
        }

        @include media('<medium'){
            .series-desc{
                .tags{
                    display : none;
                }

                .author-count{
                    .author-name{
                        font-size: .85rem;
                        margin : 0;
                    }
    
                    .series-count{
                        font-size: .55rem;
                        margin : .5rem 0 0 0;
    
                        span{
                            margin-right : 1rem;
                        }
                    }
                }
            }
        }

        @include media('<small'){
            .series-thumb{
                display : none;
            }
        }
    }
}