@import 'utils';

.loading-box{
    display : flex;
    align-items : center;
    justify-content : center;

    &.comment{
        margin-top : 1.25rem;
        width : 100%;
        height : 40rem;
        
    }

    &.navigation{
        
    }
}