@import "utils";

.markdown-render {
  font-size: 1.125rem;
  word-break: break-word;
  word-wrap: break-word;
  color: #343a40;

  blockquote {
    border-left: 4px solid $oc-blue-6;
    padding: 1rem;
    background: $oc-gray-1;
    margin-left: 0;
    margin-right: 0;
    p {
      margin: 0;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    color: #212529;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2rem;

    @include media("<large") {
      font-size: 1rem;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }

    @include media("<small") {
      font-size: 0.85rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  p {
    @include media("<large") {
      font-size: 0.85rem;
    }

    @include media("<small") {
      font-size: 0.6rem;
    }
  }

  // 텍스트 사이의 코드
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    code {
      // font-family: 'Gothic A1', sans-serif;
      font-family: "D2 Coding", sans-serif;
      background: $oc-gray-0;
      padding: 0.25rem;
      color: $oc-blue-6;
      border: 1px solid $oc-gray-2;
      border-radius: 2px;
    }
  }

  // 코드 블록
  code[class*="language-"],
  pre[class*="language-"] {
    // font-family: 'Gothic A1', sans-serif;
    font-family: "D2 Coding", sans-serif;

    @include media("<large") {
      font-size: 0.85rem;
    }

    @include media("<small") {
      font-size: 0.6rem;
    }
  }

  a {
    color: $oc-blue-6;
    &:hover {
      color: $oc-blue-5;
      text-decoration: underline;
    }

    @include media("<large") {
      font-size: 1rem;
    }

    @include media("<small") {
      font-size: 0.85rem;
    }
  }

  // 표 스타일
  table {
    border-collapse: collapse;
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid $oc-gray-4;
  }

  th,
  td {
    font-size: 0.9rem;
    padding: 0.25rem;
    text-align: left;
  }

  // 이미지 최대 크기 설정 및 가운데 정렬
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}
