@import 'utils';

.remove-enter{
    opacity : 0;
}
.remove-enter-active{
    opacity : 1;
    transition : opacity 150ms ease-in-out;
}
.remove-enter-done{
    opacity : 1;
}

.remove-exit{
    opacity : 1;
}
.remove-exit-active{
    opacity : 0;
    transition : opacity 150ms ease-in-out;
}
.remove-exit-done{
    opacity : 0;
}

.question{
    padding : 1rem;
    background : white;
    font-family: 'Do Hyeon', sans-serif;

    .description{
        margin-top : .5rem;
        font-family: 'Gothic A1', sans-serif;
        font-size : 0.85rem;
    }
}

.options{
    margin-top : 1rem;
    display : flex;
    align-items : center;
    justify-content: flex-end;
    padding-bottom : 1rem;
    padding-right : 1rem;
}