@import 'utils';

.user-profile {
	padding-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.description {
		p {
			margin: 0;
			text-align: center;
		}

		.my-name {
			background: $oc-gray-1;
			border-radius: 1rem;
			padding-top: 0.15rem;
			padding-bottom: 0.15rem;
			padding-left: 1rem;
			padding-right: 1rem;
			font-family: 'Gothic A1', sans-serif;
			font-size: .85rem;
			font-weight: 400;
			letter-spacing: 1px;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.my-post,
		.my-comment {
			margin-top: .25rem;
			font-family: 'Gothic A1', sans-serif;
			font-size: .75rem;
			font-weight: 200;
		}
	}

	.separator-line {
		height: 1px;
		width: 100%;
		border-top: 1px solid #ddd;

		margin-top: 1rem;
		margin-bottom: 1.25rem;
	}

	.button-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 8rem;
		margin-bottom: .75rem;
	}
}
