@import 'utils';

.website{
    padding-top : 3rem;

    .title{
        font-family: 'Gothic A1', sans-serif;
        font-size : .85rem;
        font-weight : 300;
    }

    .wrapper{
        margin-top : 1.5rem;
        display : flex;
        align-items : center;
        
        .site-wrapper{
            display : flex;
            align-items : center;
        }

        .button-wrapper{
            margin-left : auto;
        }
    }

}