@import 'utils';

.sidebar {
	position: fixed;
	top: 0;
	left: -15rem;
	width: 15rem;
	height: 100vh;
	background: #fff;
	border-right: 1px solid #ddd;
	z-index: 15;
	transition: left 0.1s ease-in;

	.close-btn {
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 1.5rem;
		font-weight: 600;
		opacity: 0.5;

		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}

	.config-wrapper {
		position: absolute;
		right: 10px;
		bottom: 10px;
	}

	&--open {
		left: 0rem;
		transition: left 0.15s ease-in;
	}
}
